.productFeatures {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-form-field {
  width: 300px;
}

.th mat-header-cell {
  font-weight: bold;
}

.paginator {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #efecec;
  padding: 10px 0;
}
