.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap:32px;
  padding: 32px;
  background: #e4e2e2;
  margin-left: 40px;
  margin-right: 40px;
}

.product-card {
  background: #aabfeb;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.product-card img{
    height: 300px;
    overflow: hidden;
}
p{
    font-size:larger;
    font: bold;
    text-align: center;
}
button{
    width: 100%;
  max-width: 150px;
  height: 45px;
  margin: 12px auto;
  display: block;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  background: #3f51b5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background: white;
  color: #3f51b5;
  transform: scale(1.05);
}

