<div class="product-grid">
    @for (product of productsData;track product.productId){
    <mat-card class="product-card" appearance="outlined"> 
        @if(productsData.length>1)
        {
        <img mat-card-image [src]="product.productImgUrl[0]">
        }
        
         <!-- <img mat-card-image [src]="product.productImgUrl[0]"> -->
        
        <mat-card-content>
            <p>
                {{product.productName}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="openProductDetailsDialog(product)" matButton>View Details</button>
        </mat-card-actions>
    </mat-card>
    }
</div>

