.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}
.container{
    width: 100%;
    max-width: 250px;
    padding: 50px;
    background-color:rgb(104, 173, 229);
    align-items: center;
}
.container button{
    width: 90%;
}
.container input{
    width: 100%;
}
mat-form-field{
    margin-left: 20px;
}
button{
    margin-left: 15px;
}
h2{
    text-align: center;
}