.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap:32px;
  padding: 32px;
  background: #e4e2e2;
  margin-left: 40px;
  margin-right: 40px;
}

.product-card {
  background: #aabfeb;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.product-card img{
    height: 300px;
    overflow: hidden;
}
p{
    font-size:larger;
    font: bold;
    text-align: center;
}
button{
    border: 2px solid black;
    width: 110px;
    height: 50px;
    margin-left: 110px;
}

