.login{
    width: 60px;
    height: 35px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(74, 142, 74);
    color: white;
}

.register{
   width: 65px;
    height: 35px;
    background-color: rgb(159, 159, 82); 
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}
.logout{
    background-color: rgb(208, 107, 107);
    color: white;
    width: 65px;
    height: 35px;
     border-radius: 10px;
    margin-right: 10px;
}
.logout:hover{
    background-color: rgb(222, 37, 37);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px; 
}
.right-side{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cart-btn {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -20px;
    right: -3px;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}