<mat-toolbar class="nav">

  <span class="title">E-commerce Application</span>
  <div class="nav-links">
    <button mat-button routerLink="" >
      Product Details
    </button>
    <button mat-button routerLink="productDashBoard" >
      Product Dashboard
    </button>
    <button mat-button routerLink="orderHistory" >
      Order history
    </button>
  </div>

  <div class="right-side">
    @if(!isLoggedIn()){
    <button mat-button routerLink="/login"  class="login">
      Login
    </button>
    <button mat-button routerLink="/register"  class="register">
      Register
    </button>
    }

    @if(isLoggedIn()){
    <button mat-button routerLink="/cart" class="class-btn">
      <mat-icon>shopping_cart</mat-icon>
      <span class="cart-count">{{ cartService.getCartTotalCount() }}</span>
    </button>
    <button mat-button (click)="logout()" class="logout">
      Logout
    </button>
    }

  </div>

</mat-toolbar>