.example-spacer {
  flex: 1 1 auto;
 
}
.nav{
    background-color: rgb(177, 177, 222);
}
.login{
    width: 60px;
    height: 35px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(74, 142, 74);
    color: white;
}

.register{
   width: 65px;
    height: 35px;
    background-color: rgb(159, 159, 82); 
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}