<div class="form">
    <div class="container">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <h4 style="margin-right: 50px;">Add Product Review</h4>
            <mat-form-field>
                <mat-label>Add product reviews</mat-label>
                <input matInput formControlName="productReview">
            </mat-form-field>
            <br>
            <mat-label style="margin-left: 40px;">Add Rating</mat-label>
            <ngx-star-rating  formControlName="rating" [id]="'rating'"></ngx-star-rating><br><br>
            <div style="display: flex; margin-top: 30px;">
            <button style="margin-bottom: 10px; margin-left: 12px;margin-right: 10px;" mat-raised-button type="submit"
                (click)="cancel()">Cancel
            </button>
            <button style="margin-bottom: 10px;" mat-raised-button color="primary" [disabled]="this.reviewForm.invalid"
                type="submit">Submit review
            </button></div>
        </form>
    </div>
</div>