.order-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 15px;
    h2{
        margin-left: 550px;
        margin-bottom: 20px;
    }
}
.order-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    mat-card{
        margin-left: 30px;
    }
}

button{
  width: 100%;
  max-width: 150px;
  height: 45px;
  background-color: antiquewhite;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}
